<footer class="bg-black text-warning pt-4 pb-4">
  <div class="container text-center text-md-start">
    <div class="row justify-content-center">
      <!-- Logo above the links -->
      <div class="col-12 mb-4">
        <a href="#">
          <img src="https://i.pinimg.com/236x/64/a9/2e/64a92efe1f089aea286ddf93652e20ef.jpg" 
               alt="ScoreBuzz Logo" width="60" height="48">
        </a>
      </div>

      <!-- Footer links in two columns, centered with equal side space -->
      <div class="col-12 col-md-8">
        <div class="row justify-content-between">
          <!-- Left column -->
          <div class="col-6 col-md-5 mb-2">
            <ul class="list-unstyled text-start">
              <li><a routerLink="about" class="text-warning text-decoration-none">About</a></li>
              <li><a routerLink="privacy" class="text-warning text-decoration-none">Privacy Policy</a></li>
              <li><a routerLink="terms" class="text-warning text-decoration-none">Terms & Conditions</a></li>
            </ul>
          </div>
          <!-- Right column -->
          <div class="col-6 col-md-5 mb-2">
            <ul class="list-unstyled text-start">
              <li><a routerLink="sponsor" class="text-warning text-decoration-none">Our Sponsors</a></li>
              <li><a routerLink="contact" class="text-warning text-decoration-none">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional copyright -->
    <div class="row mt-3">
      <div class="col text-center">
        <small>&copy; 2025 ScoreBuzz. All rights reserved.</small>
      </div>
    </div>
  </div>
</footer>
